<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/default_layout :: template(~{::css}, ~{::js}, ~{::content})}">
<th:block th:fragment="css">
  <link type="text/css" rel="stylesheet" href="/css/board.css">
</th:block>
<th:block th:fragment="js"></th:block>
<th:block th:fragment="content">


  <H3>상세</H3>

  <table class="view">
    <tr>
      <th>제목</th>
      <td th:text="${row.title}"></td>
    </tr>
    <tr>
      <th>상단고정</th>
      <td th:text="${row.isTop}"></td>
    </tr>
    <tr>
      <th>상단고정 종료일</th>
      <td th:text="${row.topDate}"></td>
    </tr>
    <tr>
      <th>노출여부</th>
      <td th:text="${row.isOpen}"></td>
    </tr>
    <tr>
      <th>첨부</th>
      <td></td>
    </tr>
    <tr>
      <th>조회수</th>
      <td th:text="${row.hit}"></td>
    </tr>
    <tr>
      <th>내용</th>
      <td th:text="${row.content}"></td>
    </tr>
    <tr>
      <th>첨부파일</th>
      <td>
        <div th:each="file : ${files}">
          <a href="#" th:if="${file.fileName}" th:href="|/common/fileDown/${file.fileName}/${file.originalFileName}|" th:text="${file.originalFileName}"></a>
          <br>
          <img src="" th:if="${file.fileName}" th:src="|/common/imgDown/${file.fileName}|" width="300" height="300"/>
        </div>
      </td>
    </tr>
    <tr>
      <th>등록자</th>
      <td th:text="${row.registerIdx}"></td>
    </tr>
    <tr>
      <th>등록일</th>
      <td th:text="${#temporals.format(row.registerDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
    <tr>
      <th>수정자</th>
      <td th:text="${row.modifyIdx}"></td>
    </tr>
    <tr>
      <th>최종수정일</th>
      <td th:text="${#temporals.format(row.modifyDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
    </tr>
  </table>

  <div class="bottom-btn">
    <button type="button" th:onclick="|location.href='@{/bbs/{table}/editForm/{boardIdx} (table=${table}, boardIdx=${row.boardIdx})}'|">수정</button>
    <button type="button" th:onclick="|location.href='@{/bbs/{table}/list (table=${table})}'|">목록</button>
  </div>

</th:block>
</html>