<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.db.test.repository.mybatis.TestMapper">

    <select id="testList" resultType="TestDto">
        select * from ${tableName} where 1=1
            <if test="id != null and id != ''">
               and test_idx = #{id}
            </if>
            <if test="isDelete != null and isDelete != ''">
                and is_delete = #{isDelete}
            </if>
    </select>

</mapper>